{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 8
    },

    "env": {
        "node": true,
        "browser": true
    },

    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": ["error", "4"],
        "react/jsx-indent-props": ["error", "4"]
    }
}